<app-layout>
<div>
    
    <!-- My Wellness -->
    <div *ngIf="userInfo != undefined" class="content" fxLayout="row wrap" fxLayout.xs="column" fxFlexFill fxLayoutAlign="stretch flex-start">
        <div fxFlex="60"  fxFlex.xs="55">
            <mat-card class="my-card"> 
                <mat-card-title>{{userInfo.displayName}}</mat-card-title>
               
            </mat-card>
        </div>


        <div fxFlex="40"  fxFlex.xs="55" fxFlexFill>
            <mat-card class="my-card" style="text-align: center;"> 
               <img src="/assets/images/COVID-19_StopSpread_Avoid_ENG_1200x1200.png"  style="align-items: center;" height="500" width="500"/>
            </mat-card>
        </div>
        
    </div>
   
</div>
</app-layout>