@flowable:registry=https://artifacts.flowable.com/artifactory/api/npm/npm-all/
//artifacts.flowable.com/artifactory/api/npm/npm-all/:username=bot-perficient@bots.flowable.com
//artifacts.flowable.com/artifactory/api/npm/npm-all/:_password=QVA1NEN2dlNqeTk5dW5zOVlHS1lQZUtpRnZ0Y0d5c0J3RXhMQ0M=
//artifacts.flowable.com/artifactory/api/npm/npm-all/:email=phani.jammulamadaka@perficient.com
//artifacts.flowable.com/artifactory/api/npm/npm-all/:always-auth=true