<mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <img src="/assets/logo.png" style="margin-top: 5px; margin-right: 15px;max-width: 150px;"/><span>Workforce Wellness</span>
    </a>
    <span style="" class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button  routerLink="/">My Wellness</a>
      <button  mat-button [matMenuTriggerFor]="menu">My Records</button>
      <mat-menu #menu="matMenu">
        <button  mat-menu-item routerLink="/updateVaccination">Update Vaccination Record</button>
        <button mat-menu-item routerLink="/reportTest">Upload Test Result</button>
        <button mat-menu-item routerLink="/updateETS">COVID-19 Health Screening Questionnaire</button>
        <button mat-menu-item routerLink="/attestation">Attestation</button>
      </mat-menu>
      <a mat-button *ngIf="isManager" routerLink="/myteam">My Team</a>
      <a mat-button *ngIf="isHR" routerLink="/dashboard"><mat-icon style="margin-top: -1px; margin-left: 1px; margin-right: 1px;">dashboard</mat-icon>Dashboard</a>
      <a mat-button  routerLink="/logout">{{displayName}}<mat-icon style="margin-top: -1px; margin-left: 1px; margin-right: 1px;">exit_to_app</mat-icon></a>
    </div>

  </mat-toolbar>
  
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav  #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/mywellness">My Wellness</a>
        <a mat-button routerLink="/hrqueue">Work Queue</a>
        <a mat-button routerLink="/dashboard">Dashboard</a>
        <a mat-button>Logout</a>
      </div>
    </mat-sidenav>
    <router-outlet>

    </router-outlet>
   
  </mat-sidenav-container>
