
.success-chip {
    

    background-color: #5cb85c !important;
    color: white !important;
}

.inprogress-chip {
    background-color: #81A7BB !important;
    color: white !important;
}

.transparent-chip{
    background-color: transparent !important;
}